@page "/login"
@using System.ComponentModel.DataAnnotations;
@using RequestForConsense.BL;
@inject NavigationManager Navigation

<div class="container">
    <h1>Request for Comment</h1>
    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="email">Emailaddress:</label>
            <InputText id="email" class="form-control" @bind-Value="@loginModel.Email" />
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <InputText id="password" class="form-control" @bind-Value="@loginModel.Password" type="password" />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @errorMessage
        </div>
    }
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage = string.Empty;

    private void HandleValidSubmit()
    {
        var interactor = InteractorFactory.UserAuthentication();

        var loginResult = interactor.Login(loginModel.Email, loginModel.Password);

        if (!loginResult.IsSuccessWithValue(out var benutzer))
        {
            // Set the error message
            errorMessage = loginResult.Error;
            return;
        }
        errorMessage = string.Empty;

        // Redirect to /counter
        Navigation.NavigateTo("/counter");
    }

    public class LoginModel
    {
        [Required]
        public string Email { get; set; }

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }
    }
}
